In [1]:
import sqlalchemy
import psycopg2

In [2]:
engine = sqlalchemy.create_engine('postgresql://postgres:123456@localhost:5432/transport_db')

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [58]:
# %sql sqlite://

In [6]:
%sql $engine.url

In [10]:
%%sql

-- Table: public.carrier_info

-- DROP TABLE IF EXISTS public.carrier_info;

CREATE TABLE IF NOT EXISTS public.carrier_info
(
    logistic_id integer NOT NULL,
    transport_type text COLLATE pg_catalog."default" NOT NULL,
    capacity integer NOT NULL,
    present_loc text COLLATE pg_catalog."default" NOT NULL,
    status boolean NOT NULL,

    CONSTRAINT carrier_info_pkey PRIMARY KEY (logistic_id)
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.carrier_info
    OWNER to postgres;

COMMENT ON TABLE public.carrier_info
    IS 'Information about the Carrier : Information of all available logistics which includes their type such as truck,rail etc and capacity their unique id, their present location and status.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [12]:
%%sql

insert into carrier_info(logistic_id, transport_type, capacity, present_loc, status)
values( 6,'bus', 100, 'Pune', TRUE ),
      ( 7,'Rail', 100, 'Mumbai', TRUE ),
	  ( 8,'Rail', 100, 'bhopal', TRUE ),
	  ( 9,'car', 5, 'pune', False ),
	  ( 10,'bus', 100, 'Pune', False );

 * postgresql://postgres:***@localhost:5432/transport_db
5 rows affected.

[]

In [37]:
%%sql

-- Table: public.customer_info

-- DROP TABLE IF EXISTS public.customer_info;

CREATE TABLE IF NOT EXISTS public.customer_info
(
    customer_id integer NOT NULL,
    name text COLLATE pg_catalog."default" NOT NULL,
    address text COLLATE pg_catalog."default",
    pin_code numeric NOT NULL,
    contact_info numeric NOT NULL,
    CONSTRAINT customer_info_pkey PRIMARY KEY (customer_id)
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.customer_info
    OWNER to postgres;

COMMENT ON TABLE public.customer_info
    IS 'Information of all registered customers ;their credentials and each customer is assigned a unique id.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [34]:
%%sql

insert into customer_info(customer_id, name, address, pin_code, contact_info)
values( 6,'obaid1','Pune', 12345, 123456789),
      ( 7,'obaid2', 'Mumbai', 23145,111111111 ),
	  ( 8,'obaid3', 'bhopal', 12343,222222222),
	  ( 9,'obaid4','pune', 34452, 3333333333),
	  ( 10,'obaid5', 'Pune', 24355,4444444444 );

 * postgresql://postgres:***@localhost:5432/transport_db
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "customer_info_pkey"
DETAIL:  Key (customer_id)=(6) already exists.

[SQL: insert into customer_info(customer_id, name, address, pin_code, contact_info)
values( 6,'obaid1','Pune', 12345, 123456789),
      ( 7,'obaid2', 'Mumbai', 23145,111111111 ),
	  ( 8,'obaid3', 'bhopal', 12343,222222222),
	  ( 9,'obaid4','pune', 34452, 3333333333),
	  ( 10,'obaid5', 'Pune', 24355,4444444444 );]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [41]:
%%sql

-- Table: public.shipment_info

-- DROP TABLE IF EXISTS public.shipment_info;

CREATE TABLE IF NOT EXISTS public.shipment_info
(
    coustmer_id integer NOT NULL,
    logistic_id integer NOT NULL,
    shipment_id integer NOT NULL,
    shipment_spec text NOT NULL,
    billing_id integer NOT NULL,
    shipment_status boolean NOT NULL,
    CONSTRAINT shipment_info_pkey PRIMARY KEY (shipment_id),
    CONSTRAINT costumer_id FOREIGN KEY (coustmer_id)
        REFERENCES public.customer_info (customer_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE RESTRICT,
    CONSTRAINT logistic_id FOREIGN KEY (logistic_id)
        REFERENCES public.carrier_info (logistic_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE CASCADE
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.shipment_info
    OWNER to postgres;

COMMENT ON TABLE public.shipment_info
    IS 'Information about cargo/goods like Its id, the customer-id of the customer who placed the
order. its destination, logistic id of the logistics carrying the cargo/goods and status of
customer''sâ€™ order etc.';

COMMENT ON CONSTRAINT costumer_id ON public.shipment_info
    IS 'ref customer with update cascade and delete restrict ( check for payment status)';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.
Done.

[]

In [43]:
%%sql

INSERT INTO public.shipment_info(
	coustmer_id, logistic_id, shipment_id, shipment_spec, billing_id, shipment_status)
	VALUES ( 7,1,2, 'devices', 2,False  ),
	  (7, 8,3, 'devices',3,  False ),
	  (10,9,4,  'steel', 4, False ),
	  ( 9,10,5, 'scrap',5, False );

 * postgresql://postgres:***@localhost:5432/transport_db
4 rows affected.

[]

In [44]:
%%sql


-- Table: public.billing_info

-- DROP TABLE IF EXISTS public.billing_info;

CREATE TABLE IF NOT EXISTS public.billing_info
(
    billing_id integer NOT NULL,
    amount numeric NOT NULL,
    payment_status boolean NOT NULL,
    customer_id integer NOT NULL,
    shipment_id integer NOT NULL,
    CONSTRAINT billing_ingo_pkey PRIMARY KEY (billing_id),
    CONSTRAINT customer_id FOREIGN KEY (customer_id)
        REFERENCES public.customer_info (customer_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE RESTRICT,
    CONSTRAINT shipment_id FOREIGN KEY (shipment_id)
        REFERENCES public.shipment_info (shipment_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE CASCADE
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.billing_info
    OWNER to postgres;

COMMENT ON TABLE public.billing_info
    IS 'Billing information of every order: the order-id for which the billing is done, the customer-id, cost and the status of payment.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [50]:
%%sql

INSERT INTO public.billing_info(
	billing_id, amount, payment_status, customer_id, shipment_id)
	VALUES (3, 700, False, 7, 3);
    VALUES (4, 5300, True, 8, 4);

 * postgresql://postgres:***@localhost:5432/transport_db
1 rows affected.
1 rows affected.

[(4, 5300, True, 8, 4)]

In [51]:
%%sql


-- Table: public.route

-- DROP TABLE IF EXISTS public.route;

CREATE TABLE IF NOT EXISTS public.route
(
    route_id integer NOT NULL,
    start_source text COLLATE pg_catalog."default" NOT NULL,
    destination text COLLATE pg_catalog."default" NOT NULL,
    distance numeric NOT NULL,
    cost_per_unit double precision NOT NULL,
    CONSTRAINT route_pkey PRIMARY KEY (route_id)
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.route
    OWNER to postgres;

COMMENT ON TABLE public.route
    IS 'Route information of the different routes from one city to another. This includes identifying intermediate stations of a route. Finding the total cost of that route in terms of distance.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [58]:
%%sql

INSERT INTO public.route(
	route_id, start_source, destination, distance, cost_per_unit)
	VALUES (3, 'bhopal', 'Mumbai', 15, 1000),
     (2, 'pune', 'Bhopal', 22, 900);

 * postgresql://postgres:***@localhost:5432/transport_db
2 rows affected.

[]

In [59]:
%%sql

-- Table: public.Employee

-- DROP TABLE IF EXISTS public."Employee";

CREATE TABLE IF NOT EXISTS public."Employee"
(
    name text COLLATE pg_catalog."default" NOT NULL,
    employee_id integer NOT NULL,
    designation character(1) COLLATE pg_catalog."default" NOT NULL,
    contact numeric(10,0) NOT NULL,
    CONSTRAINT "Employee_pkey" PRIMARY KEY (employee_id)
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public."Employee"
    OWNER to postgres;

COMMENT ON TABLE public."Employee"
    IS 'Administrator and employee information for accessing the database and updating order
status.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [60]:
%%sql

INSERT INTO public."Employee"(
	name, employee_id, designation, contact)
	VALUES ('Obaid', 1, 'A', 1111111111),
    ('Deepash', 2, 'A', 1111111112);

 * postgresql://postgres:***@localhost:5432/transport_db
2 rows affected.

[]

In [61]:
%%sql

-- Table: public.shipment_status

-- DROP TABLE IF EXISTS public.shipment_status;

CREATE TABLE IF NOT EXISTS public.shipment_status
(
    status boolean NOT NULL,
    logistics_id integer NOT NULL,
    route_id integer NOT NULL,
    depature_date date NOT NULL,
    present_loc text COLLATE pg_catalog."default" NOT NULL,
    supervisor_id integer NOT NULL,
    shipment_id integer NOT NULL,
    CONSTRAINT shipment_status_id PRIMARY KEY (logistics_id, supervisor_id, shipment_id),
    CONSTRAINT logistics_id FOREIGN KEY (logistics_id)
        REFERENCES public.carrier_info (logistic_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    CONSTRAINT route_id FOREIGN KEY (route_id)
        REFERENCES public.route (route_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT shipment_id FOREIGN KEY (shipment_id)
        REFERENCES public.shipment_info (shipment_id) MATCH FULL
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT supervisor_id FOREIGN KEY (supervisor_id)
        REFERENCES public."Employee" (employee_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE CASCADE
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.shipment_status
    OWNER to postgres;

COMMENT ON TABLE public.shipment_status
    IS 'On-route information which will give us information of all on-route logistics; it will contain the logistic-id, time of departure, source , destination, its present location and status.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [62]:
%%sql

INSERT INTO public.shipment_status(
	status, logistics_id, route_id, depature_date, present_loc, supervisor_id, shipment_id)
	VALUES (False, 2, 1 , '2022-11-03', 'Pune', 1, 1);

 * postgresql://postgres:***@localhost:5432/transport_db
1 rows affected.

[]

In [63]:
%%sql



-- Table: public.shipment_status

-- DROP TABLE IF EXISTS public.shipment_status;

CREATE TABLE IF NOT EXISTS public.shipment_status
(
    status boolean NOT NULL,
    logistics_id integer NOT NULL,
    route_id integer NOT NULL,
    depature_date date NOT NULL,
    present_loc text COLLATE pg_catalog."default" NOT NULL,
    supervisor_id integer NOT NULL,
    shipment_id integer NOT NULL,
    CONSTRAINT shipment_status_id PRIMARY KEY (logistics_id, supervisor_id, shipment_id),
    CONSTRAINT logistics_id FOREIGN KEY (logistics_id)
        REFERENCES public.carrier_info (logistic_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    CONSTRAINT route_id FOREIGN KEY (route_id)
        REFERENCES public.route (route_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT shipment_id FOREIGN KEY (shipment_id)
        REFERENCES public.shipment_info (shipment_id) MATCH FULL
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT supervisor_id FOREIGN KEY (supervisor_id)
        REFERENCES public."Employee" (employee_id) MATCH SIMPLE
        ON UPDATE CASCADE
        ON DELETE CASCADE
)

TABLESPACE pg_default;

ALTER TABLE IF EXISTS public.shipment_status
    OWNER to postgres;

COMMENT ON TABLE public.shipment_status
    IS 'On-route information which will give us information of all on-route logistics; it will contain the logistic-id, time of departure, source , destination, its present location and status.';

 * postgresql://postgres:***@localhost:5432/transport_db
Done.
Done.
Done.

[]

In [64]:
%%sql


INSERT INTO public.shipment_schedule(
	shipment_id, source, destination, depature_date, route_id, logistics_id)
	VALUES (2, 'pune', 'Mumbai', '2022-11-03', 1, 2);

 * postgresql://postgres:***@localhost:5432/transport_db
1 rows affected.

[]

In [65]:
%%sql


UPDATE public.billing_info
	SET  amount= route.distance * route.cost_per_unit 
	FROM route, shipment_status
	WHERE billing_info.shipment_id=shipment_status.shipment_id and route.route_id=shipment_status.route_id;

 * postgresql://postgres:***@localhost:5432/transport_db
0 rows affected.

[]